body {height:100vh;width:100%;margin:0;padding:0}
::-webkit-scrollbar {height: 5px;width:8px;}
::-webkit-scrollbar-thumb {background: orange;border-radius: 20px;}
button {border-radius:8px}
#acilanmenu {display:none;position:fixed;z-index:998;width:100%;height:100%;background:#fff;justify-content:center;align-items:center;flex-direction:column}
#acilanmenu a {display:flex;align-items:center;text-decoration:none;color:#000;width:100%;text-align:left;margin:15px 5px;font:bold 34px Arial}
#acilanmenu img {margin-right:10px}

nav {background:transparent;padding:10px 5%;box-sizing:border-box;z-index:99999;position:fixed;top:0;width:100%;display:flex;justify-content:center;transition:0.5s all}
nav div {display:flex;justify-content:center;align-items:center}
nav div a {display:flex;justify-content:center;align-items:center;padding:8px 0px;text-decoration:none;color:#000;min-width:95px;text-align:center;margin:0 5px;font:bold 12px Arial;border-radius:5px}
nav div a:nth-child(2){background:rgba(255,255,255,0.75);box-shadow:0px 1px 2px 1px rgba(0,0,0,0.15)}
nav div a:nth-child(3){background:rgba(255,255,255,0.75);box-shadow:0px 1px 2px 1px rgba(0,0,0,0.15)}
nav div a:nth-child(4){background:rgba(255,255,255,0.75);box-shadow:0px 1px 2px 1px rgba(0,0,0,0.15)}
nav div a:nth-child(2):hover{color:#fff;background:purple}
nav div a:nth-child(3):hover{color:#fff;background:green}
nav div a:nth-child(4):hover{color:#fff;background:tomato}
#linkler span {margin-left:5px}
#logoyazi {display:none;background:linear-gradient(to right,#fff,orange);padding:5px 8px;margin-left:3px;font:italic 14px Arial;border-top-right-radius:10px;border-bottom-right-radius:10px;}

#menu {position:absolute;right:5%;display:block;width:40px;height:40px}
#menu span {pointer-events;none;display:block;width:40px;height:4px;background:black;transition:0.5s all}
#spb {margin-top:7px}
#spi {margin-top:8px}
#spu {margin-top:8px}
.spb {transform:rotate(45deg) translateY(5px) translateX(5px)}
.spi {transform:rotate(-45deg) translateY(-4px) translateX(5px)}

#navlogo,#ozgelogo {transition:0.5s all}
.gizli {display:none;opacity:0}


main {animation:arkaplan 10s linear infinite;display:flex;flex-direction:column;justify-content:flex-start;align-items:center;padding:130px 0 150px 0;width:100%;background:red;background:linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(50, 50, 0, 0.76)),url(ozgetanir_rehabilitasyon_merkezi.jpg);background-position:center;background-size:cover}
main h1 {display:block;height:150px;color:#fff;padding:8px;margin:0;box-sizing:border-box;width:95%;font-weight:bold;font-family: "Arial", Times, serif;letter-spacing:-1px;font-size:1.8rem;text-align:center}
@keyframes arkaplan{
0%{background-position:left;}
25%{background-position:center;}
50%{background-position:right;}
75%{background-position:center;}
100%{background-position:left;}
}
#aniyazi {color:#DC143C;text-shadow:1px 2px 3px #fff;min-height:65px}

#sosyalkutu {margin-top:-120px;margin-bottom:25px;display:grid;grid-template-columns:33% 33% 33%;grid-gap:10px;justify-content:space-around;width:90%;margin-left:5%}
#sosyalkutu div {display:flex;flex-direction:column;justify-content:space-around;align-items:center;padding:15px 0;background:#fff;box-shadow:0px 1px 5px 1px #ccc;border-radius:10px;box-sizing:border-box}
#sosyalkutu div * {margin:6px 0}
#sosyalkutu button {border:0;outline:0;padding:8px 14px;min-width:60px;background:orange;color:#fff}
#sosyalkutu label {display:block;width:90%;text-align:center;letter-spacing:-0.6px}

.kutu {z-index:5;position:relative;display:flex;width:100%;background:#aaa;overflow:hidden;margin:0;padding:0}
h2 {color:orange;font:bold 20px Arial;letter-spacing:-0.5px;width:80%;text-align:center}
.kutum::before {z-index:15;content:"";position:absolute;background:#F08080;width:180px;height:180px;transform:rotate(45deg);margin:-100px}
.akutu {display:flex;justify-content:flex-start;align-items:flex-start;min-width:200%;}
.gkutu {display:flex;width:50%;height:100%;background:#fff;transition:0.5s all;justify-content:center;align-items:center;flex-direction:column;marign:0;padding:0}
.gkutu label {margin:15px 0;display:block;width:90%;font:16px Arial}
.gkutu button {border:0;outline:0;padding:14px 22px;margin:10px 0;min-width:120px;background:#3CB371;color:#fff;font:bold 16px Arial}
.gkutu img {object-fit:cover;border-radius:15px;margin:15px 0}
.ykutu {background:#fff;display:flex;float:left;flex-direction:column;transition:0.5s all;width:40%;height:100%;padding:60px 0}
.ykutu li {font:16px Arial}
.ykutu h1 {padding:15px;color:orange;text-align:left}
.ssolakaydir {transform:translateX(-80%) scale(0.9);opacity:0.8}
.solakaydir {transform:translateX(-100%);}
.ykapat {border:0;outline:0;padding:8px 14px;margin:10px 0;margin-left:15px;min-width:80px;background:#F08080;color:#fff;margin-top:20px;display:inline-block;width:55px;}
.kutu ul {list-style:none;margin:0 15px;padding:0}


#tamekran {padding:50px 5%;box-sizing:border-box;display:flex;flex-wrap:wrap;justify-content:center;background:linear-gradient(135deg, rgba(0,0,0, 0.5), rgba(50, 50, 0, 0.88)),url(ozgetanir_rehabilitasyon_merkezi.jpg);background-position:center;background-size:cover;height:95%}
#tamekran div {width:33%;display:flex;flex-direction:column;justify-content:center;align-items:center}
#tamekran h1 {color:#fff;box-sizing:border-box;width:95%;font-weight:bold;font-family: "Arial", Times, serif;letter-spacing:-1px;font-size:2.2rem;text-align:center}
#tamekran label {display:inline-block;width:100%;text-align:center;font:14px Arial;color:#eee}
#tamekran img {filter:invert(1);margin:5px 0}
#tamekran a{text-decoration:none}
#tamekran button {border:0;outline:0;padding:12px 16px;margin:55px 0 0 0;min-width:160px;background:tomato;color:#fff;display:flex;align-items:center;font:bold 16px Arial}
#tamekran button img {margin-right:10px}

#adres {overflow:hidden;padding:0}
#adres h1 {font-weight:bold;font-family: "Arial", Times, serif;letter-spacing:-1px;font-size:2.2rem;line-height:0;color:orange;text-align:left;width:90%;margin-left:5%;padding:0px 0:margin:0}
#adres label {display:block;width:90%;letter-spacing:-0.6px;margin:0 5%}
#adres iframe {margin-top:30px}
section {width:100%;overflow-x:scroll;margin:5px 0}
#section {display:flex;width:2300px;justify-content:space-between;padding:20px 2.5%;box-sizing:border-box;}
#section div {display:flex;font:18px Times New Roman;flex-direction:column;justify-content:center;align-items:center;box-shadow:0px 1px 5px 1px #ccc;padding:55px 25px;border-radius:6px;margin-right:25px}

footer {z-index:12;position:relative;overflow:hidden;background:#fff;color:#000;width:100%;border-top:0.5px solid #bbb;padding:25px 5%;box-sizing:border-box;margin-top:25px;display:flex;justify-content:space-around;align-items:flex-start}
footer::before {z-index:-1;content:"";position:absolute;background:#F08080;left:0;bottom:0;width:200px;height:200px;transform:rotate(45deg);margin:-150px -100px}
footer::after {z-index:15;content:"";position:absolute;background:orange;right:0;bottom:0;width:130px;height:25px;}
footer div {margin:15px 0;border-bottom:0.5px solid #bbb;}
footer h3 {margin:0;padding:0;color:orange}
footer ul {list-style:none;margin:0;padding:0}
footer li {margin:15px 0}
footer span {color:#aaa}
footer a {text-decoration:none;color:#3CB371}
#sametakyel {position:absolute;z-index:16;right:5px;bottom:5px;color:#000;font:small-caps 12px Arial}

#telefonlar {position:absolute;display:none;flex-direction:column;margin-left:-210px;margin-top:120px}
#telefonlar a{padding:10px 0;color:#000;margin:3px 0;background:rgba(255,255,255,0.75);}
#telefonlar a:hover {background:Green;color:#fff}
#iletisimkutusu {
position:fixed;z-index:99999;display:none;justify-content:center;align-items:center;width:100%;height:100%;background:rgba(0,0,0,0.6)
}
#iletisimkutusu img {margin-right:10px}
#iletisimkutusu div {position:relative;width:90%;background:#fff;border-radius:8px;box-shadow:0px 1px 8px 1px #444;padding:15px 15px;box-sizing:border-box;display:flex;flex-wrap:wrap;justify-content:space-around;font-size:10px}
#iletisimkutusu h1 {display:block;width:100%;font:bold small-caps 2rem Times New Roman;border-bottom:1px solid orange;padding:5px 0;margin-top:-5px}
#iletisimkutusu a {display:flex;justify-content:flex-start;align-items:center;width:49%;color:#000;text-decoration:none;margin:10px 0}
#iletisimkutusu h2 {margin-top:15px}
#kikutusu {display:block;position:absolute;right:0;top:0;width:30px;padding:5px 0;text-align:center;background:tomato;color:#fff;font-weight:bold;border-radius:50%;cursor:pointer;margin:-10px -10px}

@media only screen and (max-width: 768px) {
#sosyalkutu {display:flex;flex-direction:column}
footer {flex-direction:column}
footer div {width:90%}
}
